[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
post = "python main.py"

[packages]
markdown = "*"
requests = "*"
python-frontmatter = "*"

[dev-packages]

[requires]
python_version = "3.10"
